@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');

#root .tracking-widest {
    font-family: 'Righteous', cursive;
    letter-spacing: 0.025em !important;
    background: #ff444f;
    color: white;
    width: 100%;
}

.rightous-font{
    font-family: 'Righteous', cursive;
}

.main {
    &-content {
        min-height: calc(100vh - 64px - 48px);
    }

    &-modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: rgb(0 0 0 / 58%);
    }

    &-hide-scrollbar {
        overflow: hidden;
    }
}
